<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <servlet>
    <servlet-name>ChatController</servlet-name>
    <servlet-class>controller.ChatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatController</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>

</web-app>